{
  "token": "MTM2OTQwMzg2MjIzODM2Nzc2NA.GhwW_2.ipDQZPrn_cE2LD--MdpnpsIBwACZE-tFGsrchU",
  "clientId": "1369403862238367764",
  "guildId": "1324726761832976427",
  "prefix": "!",
  "embedColor": "#7289DA"
}
